
<!-- <form>
  <div>
    <app-new1></app-new1>
  </div>
</form> -->

<div class="main">
  <div class="cont1">
    <div>
      <mat-card class="custom1" style="width: 1100px; height: 1000px;">
        <mat-card-content>
          <div>
            <div>
              <h3>Meeting Room Occupancy Profile of the Organisation</h3>
              <mat-divider></mat-divider>
            </div>
          </div>
          <app-new1></app-new1>
          <div>
            <div>
              <h3>Meeting Room Usage Pattern of the Organisation</h3>
              <mat-divider></mat-divider>
            </div>
          </div>
          <app-new4></app-new4>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <form>
        <mat-card class="custom1" style="width: 250px; height: 1000px;">
          <mat-card-content>
            <app-form1></app-form1>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
  <div class="cont2">
    <div>
      <mat-card class="custom2" style="width: 1100px; height: 1000px;">
        <mat-card-content>
          <div>
            <div>
              <h3>Meeting Room Occupancy Profile of the Organisation</h3>
              <mat-divider></mat-divider>
            </div>
          </div>
          <app-new2></app-new2>
          <div>
            <div>
              <h3>Meeting Room Usage Pattern of the Organisation</h3>
              <mat-divider></mat-divider>
            </div>
          </div>
          <app-new3></app-new3>
        </mat-card-content>
      </mat-card>
    </div>
    <div>
      <form>
        <mat-card class="custom2" style="width: 250px; height: 1000px;">
          <mat-card-content>
            <app-form2></app-form2>
          </mat-card-content>
        </mat-card>
      </form>
    </div>
  </div>
</div>




<!-- <nav>
  <a routerLink="">new1</a>
</nav>
<router-outlet></router-outlet> -->

