<div>
    <div style="text-align: center;">
        <button mat-flat-button color="primary" class="button">Meeting Room 1</button>
    </div>
    <div>
        <mat-card class="card1">
            <mat-card-content>
                Capacity: 10
                Working Hours: 8Hr
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card class="card2">
            <mat-card-content>
                <div style="font-weight: bold;">Usage Hours</div>
                <div>Average Usage Hours: 8Hr</div>
                <div>Maximum Usage Hours: 8Hr</div>
                <div>Average Meeting Duration: 8Hr</div>
                <div>Maximum Meeting Duration: 8Hr</div>
            </mat-card-content>
        </mat-card>
    </div>
    <div>
        <mat-card class="card3">
            <mat-card-content>
                <div style="font-weight: bold;">Number of people using room</div>
                <div>Average Number of people: 6</div>
                <div>Maximum Number of people: 10</div>
            </mat-card-content>
        </mat-card>
    </div>
</div>